{{ form_start(form, {'method': 'POST', 'attr': { 'id':'inscription', 'novalidate':'novalidate'}}) }}

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.civilite, null) }}</label>

        {{ form_widget(form.civilite, {'attr': {'class': 'form-control', 'id': 'civility', 'name':'civility'}}) }}
        {{ form_errors(form.civilite, {'attr': {'class': 'help-block text-danger'}}) }}
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.nom, null) }}</label>
        {{ form_widget(form.nom, {'attr': {'class':'form-control', 'id':'name', 'name':'lastname', 'type':'text', 'placeholder':'Nom', 'required':'required', 'minlength':'2', 'maxlength':'50' }}) }}
        {{ form_errors(form.nom, {'attr': {'class':'help-block text-danger'}}) }}
        {{ form_help(form.nom, {'attr': {'class':'help-block text-danger'}}) }}
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.prenom, null) }}</label>
        {{ form_widget(form.prenom, {'attr': {'class':'form-control','id':'firstname', 'name':'firstname', 'type':'text', 'placeholder':'Prénom', 'required':'required', 'minlength':'2', 'maxlength':'50' }}) }}
        {{ form_errors(form.prenom, {'attr': {'class':'help-block text-danger'}}) }}
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.email, null) }}</label>
        {{ form_widget(form.email, {'attr': {'class':'form-control', 'id':'email', 'name':'email', 'type':'email', 'placeholder':'Email', 'required':'required'}}) }}
        {{ form_errors(form.email, {'attr': {'class':'help-block text-danger'}}) }}
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.telephone, null) }}</label>
        {{ form_widget(form.telephone, {'attr': {'class':'form-control', 'id':'phone', 'name':'phone', 'type':'tel', 'placeholder':'Téléphone fix ou mobile', 'required':'required'}}) }}
        {{ form_errors(form.telephone, {'attr': {'class':'help-block text-danger'}}) }}
      </div>
    </div>

    <div class="control-group">
      <div class="form-group floating-label-form-group controls mb-0 pb-2">
        <label>{{ form_label(form.newsletter, null) }}</label>
        {{ form_widget(form.newsletter, {'attr': {'id':'newsletter', 'name':'newsletter', 'type':'checkbox'}}) }} Inscription à la Newsletter
        {{ form_errors(form.newsletter, {'attr': {'class':'help-block text-danger'}}) }}
      </div>
    </div>

    <br>

    <div id="success"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">{{ button_label|default('Send') }}</button>
    </div>

{{ form_end(form) }}
