{% extends 'layout/layout.html.twig' %}

{% block title %}Edit Inscription{% endblock %}

{% block content %}
    <h1>Edit Inscription</h1>

    {{ include('inscription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('inscription_index') }}">back to list</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
