{% extends 'layout/layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

    <!-- Contact Section -->
    <section id="contact">
     <div class="container">
       <h2 class="text-center text-uppercase text-secondary mb-0">Inscription</h2>
       <hr class="star-dark mb-5">
       <div class="row">
         <div class="col-lg-8 mx-auto">

            {{ include('inscription/_form.html.twig') }}

         </div>
       </div>
     </div>
    </section>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

$(document).ready(function(){
    $('#inscription').submit(function(e)
    {
       e.preventDefault();
       var data = $(this).serializeArray();
       console.log(data);

       $.ajax
       ({
          url: "{{path('inscription_ajax_send')}}",
          type: "post",
          data: { data: data },
          success: function (data)
          {
              console.log(data);

              if(data == "OK")
              {

              }
              else
              {
                  
              }

          },
          error: function(jqXHR, textStatus) {
             console.log(textStatus);
          }
        });

    });
});

</script>



{% endblock %}
