{% extends 'layout/layout.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block content %}
    <h1>Create new Inscription</h1>

    {{ include('inscription/_form.html.twig') }}

    <a href="{{ path('inscription_index') }}">back to list</a>
{% endblock %}
