{% extends 'layout/layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ inscription.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ inscription.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inscription.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ inscription.telephone }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ inscription.civilite }}</td>
            </tr>
            <tr>
                <th>Newsletter</th>
                <td>{{ inscription.newsletter ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inscription_index') }}">back to list</a>

    <a href="{{ path('inscription_edit', {'id': inscription.id}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
