{% extends 'base.html.twig' %}

{% block body %}

    {% include '/layout/header.html.twig' %}

    {% block content %}{% endblock content %}

    {% include '/layout/about.html.twig' %}

    {% include '/layout/footer.html.twig' %}

{% endblock body %}
